.skill__container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10rem;
  background-color: #ffb6e2;
  border-radius: 40px;
}
.skill__title {
  background-color: rgb(253, 246, 238);
  padding: 20px 10rem;
  margin: 0 auto;
  border-radius: 79px;
  transform: rotate(6deg);
  width: min-content;
  color: #1c1b21;
  font-size: 20px;
  font-weight: bold;
}
.img-role {
  position: absolute;
  width: 200px;
  transform: translateY(-30px);
  z-index: 1;
}
.skill__content-item {
  display: flex !important;
  align-items: center;
  padding: 50px;
  margin-top: 20px;
  gap: 40px;
}
.item-left,
.item-right {
  width: 50%;
}
.item-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-left .skill-name {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  padding: 20px;
  margin-bottom: 30px;
}
.item-left .skill-desc {
  font-size: 20px;
  line-height: 2;
}
.item-right {
  width: 50% !important;
}
.item-right .skill-img {
  width: 500px !important;
  object-fit: cover !important;
  border-radius: 20px;
}
.skill__container .slick-prev {
  transform: translateX(26px);
  z-index: 2;
}
.skill__container .slick-next {
  transform: translateX(-26px);
  z-index: 2;
}
